.section6 .bg{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.section6 .grid-categories{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.section6 .card{
    padding: 10px;
}
.section6 .card p{
    text-align: center;
    color: white;
    font-weight: bold;
}

.section6 .card-title{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Saira Condensed";
    font-weight: bold;
    margin-bottom: 20px;
}
.section6 .card .name{
    font-size: 21.4px;
}

.section6 .card .offer{
    font-family: "Saira Condensed";
    font-size: 16.4px;
    margin-bottom: 10px;
}